@model BodyViewModel


@if (Model.Profiles?.Any() ?? false)
{
    <h1 class="govuk-heading-xl">@Model.Category</h1>
    <ul>
        @foreach (var profile in Model.Profiles)
        {
            <li>
                <h2 class="govuk-heading-m">@profile.Title</h2>
            </li>
        }
    </ul>
}
